
<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
<div class="container">
    <h4>You may contact me at <a href="snowballsing@gmail.com">snowballsing@gmail.com</a> for any project. 
        I am happy to work on any Java project, Node.js project, MongoDB project, Relational DB, python, shell script, Angular, etc. I can also help setup domain, web hosting, etc. New property agent also can contacts me for consultant service related to properties near school.
    </h4>
</div>