  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        Register By Year <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboardschool">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        Register By School
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboardanalysis">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        Analysis by School
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboardballot">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        School Balloting
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/moekindergarden">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        MOE Kindergarden
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/postads">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        Post Advertisement
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/donation">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 2 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        Contact me
      </a>
    </li>
  </ul>