
<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->

    <div class="container">
      <mat-form-field>
        <mat-label>Select School Phase</mat-label>
        <mat-select [(ngModel)]="selectedPhase" name="phase">
          <mat-option *ngFor="let phase of phases" [value]="phase.id">
            {{phase.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <mat-label>Select School</mat-label>
          <mat-select [(ngModel)]="selectedSchoolValue" name="phase">
            <mat-option *ngFor="let school of schools" [value]="school.school">
              {{school.school}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <button (click)="getSchoolData()">Data Trend</button>
      <div *ngIf="barChartLabels.length">
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
      </div>  
    </div>

    
<!-- </main> -->
  

