<!-- Footer -->
<!-- <footer class="page-footer font-small blue pt-4">
   Footer Links -->
  <!-- <div class="footer-copyright text-center py-3">
    <a routerLink="/privacy">Privacy Policy</a>.
    <a routerLink="/terms">Terms of Service</a>.
    Copyright © 2019: snowballsg
  </div> -->
<!-- </footer>  -->
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-2 mt-md-0 mt-3">
          <h6><a routerLink="/privacy">Privacy Policy</a></h6>
        </div>
        <div class="col-md-2 mt-md-0 mt-3">
          <h6><a routerLink="/terms">Terms of Service</a></h6>
        </div>
        <div class="col-md-2 mt-md-0 mt-3">
          <h6><a routerLink="/sitemap">Sitemap</a></h6>
        </div>
        <div class="col-md-4"><h6>© 2019 Copyright: <a href="https://snowballdata.com">snowballdata.com</a></h6></div>
      </div>
      <!-- Grid row -->
  
    </div>
  
  </footer>
  <!-- Footer -->