
<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
    <div class="container">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <select class="form-control" formControlName="property" id="property" required>
            <option *ngFor="let p of pList" [value]="p">{{p}}</option>
          </select>
          <input id="salesregno" type="text" formControlName="salesregno" placeholder="Sales Registration No">
          <br>
          <input id="price" type="text" formControlName="price" placeholder="Asking Price">
          <br>
          <input id="bedroom" type="text" formControlName="bedroom" placeholder = "Number of Bedrooms">
          <br>
          <input id="size" type="text" formControlName="size" placeholder="Size (sqft)">
          <br>
          <input id="mobile" type="text" formControlName="mobile" placeholder="Mobile Number">
          <br>
          <input id="comment" type="text" formControlName="comment" placeholder="Other Comment">
          <br>
          <button class="button" type="submit">Submit</button>
      </form>
      <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Property</th>
              <th>Sales registriation No</th>
              <th>Asking Price</th>
              <th>Number of Bedroom</th>
              <th>Size (psf)</th>
              <th>Contact</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody *ngFor="let p of postings">
            <tr>
              <td>{{p.pname}}</td>
              <td>{{p.salesno}}</td>
              <td>{{p.price}}</td>
              <td>{{p.bedroom}}</td>
              <td>{{p.size}}</td>
              <td>{{p.mobile}}</td>
              <td>{{p.comment}}</td>
            </tr>
          </tbody>
        </table>
    </div>