
<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
    <div class="container">
        <div class="table-responsive">
          <div class="button-bar">
            <button (click)="priceHistoryChart()">Plot Transaction Price History</button>
            <!-- <button class="gobackbutton" (click)="goBack()">go back</button> -->
          </div>
         <div *ngIf="barChartLabels.length">
              <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
              </div>
          </div>

          <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Property</th>
                  <th>Sales registriation No</th>
                  <th>Asking Price</th>
                  <th>Number of Bedroom</th>
                  <th>Size (sqft)</th>
                  <th>Contact</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody *ngFor="let p of postings">
                <tr>
                  <td>{{p.pname}}</td>
                  <td>{{p.salesno}}</td>
                  <td>{{p.price}}</td>
                  <td>{{p.bedroom}}</td>
                  <td>{{p.size}}</td>
                  <td>{{p.mobile}}</td>
                  <td>{{p.comment}}</td>
                </tr>
              </tbody>
          </table>

          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Property</th>
                <th>GRC</th>
                <th>Type</th>
                <th>Tenure</th>
                <th>No Of Units</th>
                <th>Price</th>
                <th>Area (sqm)</th>
                <th>Floor Range</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let t of transactionList">
              <tr>
                <td>{{tranMaster.project}}</td>
                <td>{{grc}}</td>
                <td>{{t.propertyType}}</td>
                <td>{{t.tenure}}</td>
                <td>{{t.noOfUnits}}</td>
                <td>{{t.price|number}}</td>
                <td>{{t.area}}</td>
                <td>{{t.floorRange}}</td>
                <td>{{t.cDate | date : 'MMM, y' : 'GMT'}}</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
  <!-- </main> -->