<div class="container">
  <h4>SITEMAP</h4>
  <ul>
    <li><a href="/">Home</a></li>
      <ul>
        <li><a href="/dashboard">Registration by Year</a></li>
        <li><a href="/dashboardschool">Registration by School</a></li>
        <li><a href="/dashboardballot">Registration Balloting History</a></li>
        <li><a href="/dashboardanalysis">School Analysis</a></li>
        <li><a href="/moekindergarden">MOE Kindergarden</a></li>
        <li><a href="/postads">Agent Listing</a></li>
      </ul>
  </ul>
</div>

