<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <input class="form-control" type="text" placeholder="Check Property Distance From School" [(ngModel)]="searcht"> 
  </div>

  <div class="col-md-6 themed-grid-col">
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tbody *ngFor="let school of schools | filter : searcht">
              <tr>
                <td routerLink="/propertynearby/{{school.school}}">{{school.school}}</td>
                <td>{{school.grc}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>