
<div class="container">
      <div class="table-responsive">
        <input class="form-control" type="text" placeholder="Search Registration Data by School" [(ngModel)]="searcht">
        <table class="table table-striped table-sm">
            <tbody *ngFor="let school of schools | filter : searcht">
              <tr>
                <td><a routerLink="/byschool/{{school.school}}">{{school.school}}</a></td>
                <td>{{school.grc}}</td>
                <!-- <td><a routerLink="/propertygrc/{{school.grc}}/{{school.school}}">{{school.grc}}</a></td> -->
              </tr>
            </tbody>
        </table>
      </div>
</div>