/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  h4 {
    text-align: left;
    font-size: 1.4em;
    font: tahoma;
    line-height: 30pt;
  }
  input {
    display: inline-block;
    width: 20em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    padding: 5px 10px;
    font: tahoma;
  }
  ::placeholder {
    font-size: 13px;
    font: tahoma;
  }
  