
<!-- <a [routerLink]="['profile']" *ngIf="isAuthenticated">Profile</a> -->
<!-- <div class="container">
     <h5 class="my-0 mr-md-auto font-weight-normal">Singapore Primary School Registration</h5> -->
    <!-- <a class="btn btn-outline-primary" (click)="login()" *ngIf="!isAuthenticated">Log In</a>
    <a class="btn btn-outline-primary" (click)="logout()" *ngIf="isAuthenticated">Log Out</a> -->
<!-- </div> -->

<div class="main-nav">
      <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" >
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Registration
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/dashboard">By Year</a>
                <a class="dropdown-item" routerLink="/dashboardschool">By School</a>
                <a class="dropdown-item" routerLink="/dashboardballot">Balloting History</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/dashboardanalysis">School Analysis</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/moekindergarden">MOE Kindergarden</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/postads">Agent Listing</a>
            </li>
          </ul>
        </div>
      </nav>
</div>