/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
a:hover { 
  color: blueviolet;
  text-decoration: underline;
}
input {
  display: inline-block;
  width: 20em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
  padding: 5px 10px;
  font: tahoma;
}
::placeholder {
  font-size: 13px;
  font: tahoma;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.button-bar {
  padding-bottom: 4px;
}
button {
  font-size: 0.8em;
  font: tahoma;
  margin: 2px;
}
.container {
  font-size: 0.8em;
  font: tahoma;
}
table {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

