/* DashboardComponent's private CSS styles */
  [class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  .moduletitle {
    padding: 10px;
    text-align: center;
    max-height: 120px;
    min-width: 60px;
    border-radius: 2px;
  }
  h6 {
    padding: 8px 0;
    text-align: center;
    font-size: 1.6em;
    font: tahoma;
  }
  .module {
    color: #010405;
    font-size: 0.5em;
    border-bottom: solid; 
    border-bottom-width: thin;
    border-bottom-color: #d7dee0;
  }
  .module:hover {
    background-color: #8cb8cf;
    cursor: pointer;
    color: #010405;
    background-color:rgb(250, 248, 248);
  }
  
  input {
    display: inline-block;
    width: 20em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    padding: 5px 10px;
    font: tahoma;
  }
  ::placeholder {
    font-size: 13px;
    font: tahoma;
  }
  table {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .container {
    font: tahoma;
    background-color: #e3f2fd;
  }