
<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav> -->

<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
    <div class="container">
        <div class="table-responsive">
          <div class="button-bar">
            Data from <a href="https://www.onemap.sg/main/v2/">OneMap</a>
            <!-- <button class="gobackbutton" (click)="goBack()">go back</button> -->
          </div>
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>School</th>
                <th>School in GRC</th>
                <th>Project</th>
                <th>Type</th>
                <th>Blk</th>
                <th>Distance</th>
                <th>Postal</th>
                <th>Road</th>
              </tr>
            </thead>
            <tbody *ngFor="let p of filteredProperties">
              <tr>
                <td>{{p.school}}</td>
                <td>{{grc}}</td>
                <td><a routerLink="/transaction/{{p.project}}">{{p.project}}</a></td>
                <td>{{p.type}}</td>
                <td>{{p.blk}}</td>
                <td>{{p.distance|number}} km</td>
                <td>{{p.postal}}</td>
                <td>{{p.road}}</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
  <!-- </main> -->